.vscode/**
.vscode-test/**
.github/**
src/**
.gitignore
.eslintrc.json
eslint.config.mjs
esbuild.mjs
tsconfig.json
*.vsix
**/*.ts
**/*.map
.editorconfig
*.md
!README.md
!CHANGELOG.md
node_modules/**
out/**
